.hint__modal {
    text-align: left;
    position: absolute;
    display: block;
    top: 33px;
    padding: 10px;
    height: auto;
    background-color: rgba(#000000, 0.7);
    border-radius: 5px;
    z-index: 2;
    &::before {
        content: '';
        position: absolute;
        border-bottom: 6px solid rgba(#000000, 0.7);
        border-left: transparent 7px solid;
        border-right: transparent 7px solid;
        position: absolute;
        top: -6.0px;
        width: 0px;
        height: 0px;
        z-index: 1;
    }

    &--left {
        left: -5px;

        &::before {
            left: 10px;
        }
    }

    &--right {
        right: -5px;

        &::before {
            right: 10px;
        }
    }
}