.hint{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    color: #fff;
    user-select: none;
    cursor: pointer;

    &--primary{
        background-color: var(--element-color);
    }
    &--outline{
        background-color: var(--bg-color);
        color: var(--element-color);
        border: 1px solid var(--element-color);
    }
    &--default{
        background-color: var(--color-light);
    }
}